{% extends 'base.html.twig' %}

{% block title %}
    Change your information
{% endblock %}

{% block body %}
    <div class="section-wrapper mg-t-20" style="overflow: hidden;">
        <label class="section-title">Edit Your Profile</label>

        {{ form(form) }}
    </div>
{% endblock %}

