{% extends 'base-logged-out.html.twig' %}

{% block title %}Sing in to your account!{% endblock %}

{% block body %}

    <div class="d-md-flex flex-row-reverse">
        <div class="signin-right">

            <div class="signin-box">
                {% for label, messages in app.flashes(['success', 'error']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} mg-t-20">
                            {{ message }}
                        </div>
                    {%  endfor %}
                {% endfor %}

                <h3 class="signin-title-secondary">Enter your new Email below, and make sure you remember it this time :)</h3>

                {{ form(form) }}
                <hr>

                <p class="mg-b-0">Don't have an account? <a href="{{ path('register.createAccount') }}">Sign Up</a></p>
            </div>

        </div><!-- signin-right -->
        <div class="signin-left">
            <div class="signin-box">
                <h2 class="slim-logo"><a href="index.html">slim<span>.</span></a></h2>

                <p>We are excited to launch our new company and product Slim. After being featured in too many magazines to mention and having created an online stir, we know that ThemePixels is going to be big. We also hope to win Startup Fictional Business of the Year this year.</p>

                <p>Browse our site and see for yourself why you need Slim.</p>

                <p><a href="" class="btn btn-outline-secondary pd-x-25">Learn More</a></p>

                <p class="tx-12">&copy; Copyright 2018. All Rights Reserved.</p>
            </div>
        </div><!-- signin-left -->
    </div><!-- d-flex -->

{% endblock %}