{% extends 'base.html.twig' %}

{% block title %}Overseas !!!{% endblock %}

{% block body %}
    <div class="slim-pageheader">
        <h6 class="slim-pagetitle">Welcome back {{ app.user.username }}</h6>
    </div>

    <div class="section-wrapper mg-t-20" id="posts">

        <Posts />

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/posts.js') }}"></script>
{% endblock %}