{% extends 'base.html.twig' %}

{% block title %}Overseas !!!{% endblock %}

{% block body %}
    <div class="slim-pageheader">
        {% if app.user %}
            <h6 class="slim-pagetitle">Welcome back {{ app.user.firstName ~ " " ~ app.user.lastName }}</h6>
        {% else %}
            <h6 class="slim-pagetitle">Hello there stranger :)</h6>
        {% endif %}

    </div>

    <div class="section-wrapper mg-t-20" id="posts">

        <Posts />

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/posts.js') }}"></script>
{% endblock %}