{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	
    {{ form_start(form, { attr: {id: 'messages_form'}}) }}
        {{ form_widget(form.message, { 'attr': { 'id': 'new_id' } }) }}
	{{ form_end(form) }}

</div>
{% endblock %}
