{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="container-messages" id="messenger">

        <Messenger/>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/conversation.js') }}"></script>
{% endblock %}