{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="container-messages" id="messenger" data-base="{{ path('messages.messaging') }}">
        <Messenger/>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/conversation.js') }}"></script>
{% endblock %}