<form action="/tutorial/tester" method="POST">
    <select name="myselect" id="myselect">
        {% for item in categories %}
            <option>{{ item.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Send</button>
</form>